<div>
    <div>
        <div ng-show="productCtrl.displayCartMessage" class="alert alert-success alert-dismissible">
            <a class="close" ng-click="productCtrl.displayCartMessage=false;">&times;</a>
            {{productCtrl.cartMessage}}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="search">Search Products:</label>
                        <input type="text" id="search" name="search" ng-model="productCtrl.searchProduct" class="form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="row">
                    <div ng-repeat="product in productCtrl.searchResult = (productCtrl.productList | filter:{productName: productCtrl.searchProduct})">
                        <div class="col-sm-4">
                        <div class="thumbnail">
                            <a ng-href="{{product.imageUrl}}" target="_blank">
                                <img style="max-height:150px" ng-src="{{product.imageUrl}}" alt="{{product.productName}}" class="img-responsive">
                            </a>
                            <div class="caption">
                                <div><span class="text-primary">{{product.productName}}</span></div>
                                <div><span class="text-success">₹{{product.price}}</span></div>
                            </div>
                            <div><button id="{{product.sku}}" ng-click="productCtrl.addToCart(product.sku, 1)" class="btn btn-sm btn-primary">Add To Cart</button></div>
                        </div>
                        </div>
                    </div>
                    <div align="center" class="form-group" ng-show="productCtrl.searchResult.length == 0">
                        <br/>
                        <span class="alert alert-warning">No search result found.</span>
                    </div>
                    <div align="center" class="form-group" ng-if="productCtrl.productList.length == 0">
                        <br/>
                        <span class="alert alert-warning">No product found.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>